<div class="card">
  <div class="card__body">
    <%= image_tag diary.user.image, class: :card__image%>
    <%= link_to diary.title, diary_path(diary.id), class: :card__title%>
    <%= link_to diary.date, diary_path(diary.id), class: :card__date%>
    <%= link_to "#{diary.user.name}", user_path(diary.user), class: :card__user %>
  </div>
</div>