<div class="card">
  <div class="card__body">
    <%= link_to diary.date, diary_path(diary.id), class: :card__title%>
    <p class="card__summary">
      <%= diary.title %>
    </p>
    <%= link_to "by #{diary.user.name}", root_path, class: :card__user %>
  </div>
</div>